<head>
    <title>Trip Organizer by MK</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
    <h4 style="padding: 5px 20px;">Edit your trip:</h4>
    <form style="padding: 0px 20px;" action="/trips/<%=@trip.id%>" method="POST">
        <input id="hidden" type="hidden" name="_method" value="patch">
        <p>Trip Name: <input type="text" name="trip[name]" value="<%=@trip.name%>" required></p>
        <p>Location: <input type="text" name="trip[location]" value="<%=@trip.location%>"></p>
        <p>Start Date: <input type="date" name="trip[start_date]" value="<%=@trip.start_date%>"></p>
        <p>End Date: <input type="date" name="trip[end_date]" value="<%=@trip.end_date%>"></p>
        <p>Attendees: <input type="text" name="trip[attendees]" value="<%=@trip.attendees%>"></p>
        <p>Transporation Method: <input type="text" name="trip[transportation]" value="<%=@trip.transportation%>"></p>
        <input type="submit" id="Submit" value="Update Trip">
    </form>
</body>
