<head>
    <title>Trip Organizer by MK</title>
    <!-- Compiled and minified CSS -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> -->
</head>
<body>
    <h3 style="padding: 5px 20px;">Edit your activity:</h3>
    <form style="padding: 0px 20px;" action="/activities/<%=@activity.id%>" method="POST">
        <input id="hidden" type="hidden" name="_method" value="patch">
        <p>Trip Name:
            <select name="activity[trip_id]" value ="<%=@trip_id%>" required>
                <%@trips.each do |trip|
                if trip == @activity.trip%>
                <!-- if the trip in the @trips array matches the current trip for this activity, preselect it -->
                <option value="<%=trip.id%>" id="<%=trip.id%>" selected><%=trip.name%></option>
                <%else%>
                <!-- else add it to the list of options but don't select it -->
                <option value="<%=trip.id%>" id="<%=trip.id%>"><%=trip.name%></option>
                <%end%>
                <%end%>
            </select>
        </p>
        <p>Activity Name: <input type="text" name="activity[name]" value="<%=@activity.name%>" required></p>
        <p>Location: <input type="text" name="activity[location]" value="<%=@activity.location%>"</p>
        <p>Address: <input type="text" name="activity[address]" value="<%=@activity.address%>"</p>
        <p>Day: <input type="date" name="activity[day]" value="<%=@activity.day%>"</p>
        <p>Duration (Hours): <input type="number" name="activity[duration]" value="<%=@activity.duration%>"</p>
        <p>Attendees: <input type="text" name="activity[attendees]" value="<%=@activity.attendees%>"</p>
        <p>Transporation Method: <input type="text" name="activity[transportation]" value="<%=@activity.transportation%>"</p>
        <br></br>
        <input type="submit" id="Submit" value="Update Activity">
    </form>
</body>
